<html>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<body>
    <div>
        <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
            <input type="submit" value="Sing Out">
        </form>
    </div>
    <div>User list</div>
    <table>
        <tr>
            <th>State</th>
            <th>User</th>
        </tr>
    {{#users}}
        <tr>
            <th>{{state}}</th>
            <th>{{username}}</th>
        </tr>
    {{/users}}
    </table>
</body>
</html>